<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>

	<body>
		<div class="container">
			<%- include('./partials/header.ejs') %>
			<div class="todo content">
				<% if (todo.length > 0) { %>
					<% for (let item in todo) { %>
						<a class="single" href="/todo/<%= todo[item]._id %> ">
							<h3 class="title"><%= todo[item].title %></h3>
						</a>
					<% } %> 
				<% } else { %>
					<p>No todos to display</p>
				<% } %> 
			</div>
			<script src="/completed.js"></script>
			<%- include('./partials/footer.ejs') %>
		</div>
	</body>
</html>
